{% extends 'base.html' %}

{% block body_block %}
    <body>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        <p><a href = "{% url 'index' %}">Return to home</a></p>
    </body>
    
{% endblock %}