<tr>
    <th><label for="id_user">User:</label></th>
    <td><select name="user" required id="id_user">\n <option value="" selected>---------</option>\n\n <option value="1">
                admin</option>\n\n <option value="2">sathwik</option>\n\n <option value="3">dinesh</option>\n\n <option
                value="4">manoj</option>\n\n</select></td>
</tr><br><tr>
    <th><label for="id_title">Title:</label></th>
    <td><input type="text" name="title" maxlength="300" required id="id_title"></td>
</tr><br><tr>
    <th><label for="id_skills">Skills:</label></th>
    <td><textarea name="skills" cols="40" rows="10" required id="id_skills">\n</textarea></td>
</tr><br><tr>
    <th><label for="id_company">Company:</label></th>
    <td><input type="text" name="company" maxlength="200" required id="id_company"></td>
</tr><br><tr>
    <th><label for="id_city">City:</label></th>
    <td><select name="city" id="id_city">\n <option value="" selected>---------</option>\n\n <option value="mb">Mumbai
            </option>\n\n <option value="dl">Delhi</option>\n\n <option value="bl">Bangalore</option>\n\n <option
                value="hy">Hyderabad</option>\n\n <option value="cn">Chennai</option>\n\n <option value="jp">Jaipur
            </option>\n\n <option value="bp">Bhopal</option>\n\n <option value="pn">Patna</option>\n\n</select></td>
</tr><br><tr>
    <th><label for="id_description">Description:</label></th>
    <td><textarea name="description" cols="40" rows="10" id="id_description">\n</textarea></td>
</tr><br><tr>
    <th><label for="id_job_type">Job type:</label></th>
    <td><select name="job_type" id="id_job_type">\n <option value="" selected>---------</option>\n\n <option value="1">
                Full time</option>\n\n <option value="2">Part time</option>\n\n <option value="3">Internship</option>
            \n\n</select></td>
</tr><br><tr>
    <th><label for="id_about_job">About job:</label></th>
    <td><textarea name="about_job" cols="40" rows="10" id="id_about_job">\n</textarea></td>
</tr><br><tr>
    <th><label for="id_photo">Photo:</label></th>
    <td><input type="file" name="photo" id="id_photo"></td>
</tr>