{% extends "base.html" %}
{% block body_block %}

<div class="container">
    <div class = "jumbotron">
        <h1>Welcome to the Micropyramid Job Portal</h1>
        {% if user.is_authenticated %}
            <h2>Hello {{ user.username }}</h2>
        {% else %}
            <h3><font color = "blue">Register or Login if you'd like to</font></h3>
        {% endif %}
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cumque, tempore placeat quo quasi nihil, quia fuga deserunt eum, libero maiores aliquid! Nam quae nemo aperiam necessitatibus quasi quidem voluptatum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio sunt inventore ut reiciendis voluptas ullam consequuntur aliquam tempore adipisci molestiae, quam illum, hic temporibus atque quae nostrum, illo doloremque assumenda?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aut, sunt inventore alias accusamus veniam quaerat reiciendis sed ex ullam. Eaque corporis, quisquam sint veniam doloremque delectus voluptas molestiae eos.</p>
    </div>
</div>
{% endblock %}