{% extends "base.html" %}
{% block body_block %}
<body>
    {% if jobs %}
        
            
            
        {% for job in jobs %}
            <table class = table>
                <tr>
                    <td>
                        <a href="{% url 'job_detail' job.id %}">{{ job.company }}</a>
                    </td>
                    <td>{{ job.description }}</td>
                    
            
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
</body>
{% endblock  %}

<tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>