{% extends "base.html" %}
{% block body_block %}
<body>
    

<table class="table">
    <!-- <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        
      </tr>
    </thead> -->
    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>Job Title</td>
        <td>{{ object.title }}</td>
        
      </tr>
      <tr>
        <!-- <th scope="row">2</th> -->
        <td>Job Skills</td>
        <td>{{ object.skills }}</td>
        
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td>Job Company</td>
        <td>{{ object.company }}</td>
        
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td>Job City</td>
        <td>{{ object.city }}</td>
        
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td>Job Type</td>
        <td>{{ object.job_type }}</td>
        
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td>Job Post Date</td>
        <td>{{ object.post_date|date }}</td>
        
      </tr>
      <tr>
        <!-- <th scope="row">3</th> -->
        <td>About Job</td>
        <td>{{ object.about_job }}</td>
        
      </tr>
      
    </tbody>
  </table>
  <h3><a href="{% url 'form_upload' %}">Upload Your Resume Here</a></h3>
</body>
{% endblock  %}





<!-- <p>Job_Title:{{ object.title }}</p>
<p>Job_Skills:{{ object.skills }}</p>
<p>Job_Company: {{ object.company }}</p>

<p>Job_City:{{ object.post_date|date }}</p>
<p>Job_Type: {{ object.type }}</p>
<p>About_Job:{{ object.about_job }}</p> -->
